
/* ####################################### */

/* thumbs */

/* ####################################### */

#thumb {
  width: 80%;
  max-width: 1000px;
  margin-bottom: 100px;
  /* margin-top: -120px; */
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
}

@media screen and (max-width: 750px) and (max-height: 850px) {
  #thumb {
    background-color: rgba(255,255,255,0.2);
    width: 98%;
    max-width: 98%;
    margin-top: 20px;

    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    box-shadow: 0px 0px 20px black;
    /* border-radius: 0px; */
  }
}

/* ####################################### */

/* SVG file */

/* ####################################### */


.icon {
  text-shadow: 0px 0px 3px white;
  font-family: helvetica;
  font-size: 80px;
  width: 250px;
  box-shadow: 0px 0px 15px black;
  border-radius: 50%;
  margin-top: 80px;
  margin-bottom: -250px;

}
@media screen and (max-width: 750px) and (max-height: 850px) {
  .icon {
    width: 40vw;
    margin-bottom: -150px;
  }
}

.noteTitle {
  /* margin-bottom: 120px; */
  font-size: 3em;
}
@media screen and (max-width: 750px) and (max-height: 850px) {
  .noteTitle {
    font-size: 2.5em;
  }
}

/* ####################################### */

/* BACK BUTTON */

/* ####################################### */


.box{
  position: fixed;
  bottom: 0;
  transform : translate(-50% ,-50%);
  margin-left: 1.2em;
}

.btn:link,
.btn:visited{
  text-transform:uppercase;
  /* position:relative; */
  /* width: 100%; */
  top:0;
  left:0;
  padding:10px 10px;
  border-radius:50%;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background-color: rgba(255,255,255,0.4);
  border: 1px solid rgba(28,100,92, 1);
  box-shadow: 0px 0px 25px black;
  color: rgba(255,255,255, 0.6);
  text-shadow: 0px 0px 5px black;
  font-size: 20px;
  font-family: Amandella;
  color:#000;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

/* ####################################### */

/*  */

/* ####################################### */

.instruction {
  width: 70%;
}
