img {
  border-radius: 20px;
  width: 60%;
  border: 0px solid rgba(0,0,0,0);
}

.image-box {
  margin: 0px;
  padding-bottom: 15%;

}
.thumbnail {
  margin-bottom: 50px;
}
.title-image {
  border-radius: 50%;
  width: 6em;
  margin-bottom: -95px;
  border-top: 0px solid rgba(0,0,0,0);
  border-bottom: 0px solid rgba(0,0,0,0);
  border: 3px solid rgba(155, 150, 150, 0.5);
}
.title-image:hover {
  border-top: 0px solid rgba(0,0,0,0);
  border-bottom: 0px solid rgba(0,0,0,0);
  border: 3px solid rgba(155, 150, 150, 1);
}
@media screen and (max-width: 750px) {
  .image-box {
    padding: 0px;
  }
  .title-image {
    margin-bottom: 0px;
  }
  img {
    border-radius: 0px;
    border-top: 5px solid rgba(0,0,0,0);
    border-bottom: 5px solid rgba(0,0,0,0);
    width: 100%;
  }
  img:hover {
    border: 0px;
    border-top: 5px solid rgba(0,0,0,0);
    border-bottom: 5px solid rgba(0,0,0,0);
  }
}
